:root {
  --background-color: #101010;
}

.full-page-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.modal {
  text-align: center;
  background-color: #181818;
  border: 1px solid #303030;
  border-radius: 20px;
  width: 100%;
  max-width: 30rem;
  padding: 2em;
}

.h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

.code-embed {
  display: none;
}

.div-block {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: column;
  margin-top: 2em;
  display: flex;
}

.paragraph {
  text-align: left;
  margin-bottom: 0;
}

.input {
  color: #fff;
  background-color: #242424;
  border: 1px solid #303030;
  border-radius: 6px;
  padding: 9px 15px;
}

.input:focus {
  outline-offset: 2px;
  outline: 1px solid #83f;
}

.button {
  background-color: #83f;
  border-radius: 6px;
  margin-top: 1em;
  padding: 9px 15px;
}

.button:focus {
  outline-offset: 2px;
  outline: 1px solid #83f;
}

.body {
  background-color: var(--background-color);
  color: #fff;
  font-family: Space Grotesk, sans-serif;
}

.svg {
  max-width: 80%;
}

.div-block-2 {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.h2 {
  color: #be90ff;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.h2.tag {
  background-color: #8833ff40;
  border: 1px solid #be90ff;
  border-radius: 20px;
  padding: 8px 14px;
  font-weight: 300;
}

.div-block-3 {
  width: 45px;
}

.text-span {
  font-weight: 600;
}

.h2-copy {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.div-block-4 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
}


